.pdiv::-webkit-scrollbar {
  display: none;
}

.lyric{
  white-space: pre-line;
}
.title{
  font-size: xx-large;
  font-weight: 700;
}
.pdiv{
  padding-left:2rem;
  padding-right:2rem;
    overflow-y: overlay;
    height: 84vh;
    /* width:10vw; */
    flex:0.6;
    color:white;
    justify-content: center;
    margin-top: 2rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 1.5;
    font-weight: bold;
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
