.sidebar{
    border:1px solid black;
    height:100vh;
    flex:0.2;
    color:white;
    background-color: #040404;
    min-width:230px;
    padding-right: 10px;
     overflow-y: overlay;
     margin-bottom: 5rem;
}
@media (max-width:600px){
    .sidebar{
        height:200vh;
    }
}
.link{
    text-decoration:none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar > hr {
    border: 1px solid #282822;
    width:90%;
    margin:10px auto;
}
.sidebar_logo{
    height: 170px;
    margin-right: auto;
    padding: 10px;
}
.sidebar_title{
    margin-left: 10px;
    padding:5px;
    font-size: 12px;
}

